<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mods Webiste</title>
  <link rel="stylesheet" href="../css/homepage.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
   <!--Header Start-->
   <header class="header-main">
    <div class="header-main-div">
      <section class="header-main-left">
        <div class="header-left-titlediv">
          <h1 class="header-left-title">Mods Webiste</h1>
        </div>
      </section>
      <section class="header-main-center">
        <div class="header-center-div">
          <a class="header-center-menu">Inicio</a>
          <div class="header-center-inicio">
            <button class="menu">Recursos</button>
              <div class="header-center-dropdown">
                <a href="">Blog</a>
                <a href="">Contacto</a>
                <a href="">Mods</a>
              </div>
          </div>
        
        </div>
      </section>
      <section class="header-main-right">
        <div class="header-rigth-div">
          <ul class="header-right-ul">
            <li class="header-right-ul-item1"><a href="">Iniciar Sesion</a></li>
            <li class="header-right-ul-item2"><a href="">Registrarse</a></li>
          </ul>
        </div>
      </section>
    </div>
    
   </header>
   <section class="content">
    <section class="content-left">
     <div class="content-left-div">jajajajajja</div>
    </section>
    <section class="content-mid">  
      <div class="content-mid-div">
        {{!-- Diseño de cada casilla de mod --}}
        {{#each data}}
          <table class="mod-card">
              <tr class="mod-card-image">
                  <td class="image"colspan="2">
                      <img src="images/background.jpg" alt="">
                  </td>
              </tr>
              <tr class="mod-card-title">
                  <td class="name"><a class="mod-title" href="{{this.url}}"><strong>{{this.name}}</strong></a></td>
              </tr>
              <tr class="mod-card-bottom">
                  <td class="version">{{this.version}}</td>
                  <td><label>{{this.likes}}<span></label><input class="checkbox" type="checkbox" id={{this.id}} onclick=like()> <label class="like-button bi bi-heart-fill" for={{this.id}}></span></td>
              </tr>
            </table> 
        {{/each}}
        {{!-- Fin Casilla Mod --}}
          <script>
            function like(){
            console.log("like");
            
          }
          </script>
      </div>
    </section>
    <section class="content-rigth">
      <div class="content-rigth-div"></div>
    </section>
  </section>
    <!--Header End-->
</body>
</html>